body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 80%; /* Ajusta a largura para telas maiores */
  max-width: 600px; /* Limita a largura máxima */
  padding: 20px; /* Adiciona padding para melhor visualização */
}

.question h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.buttons button {
  padding: 15px 30px;
  font-size: 1.2em;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
  width: 100%; /* Botões ocupam toda a largura em telas menores */
  box-sizing: border-box; /* Inclui padding e border na largura */
  margin-bottom: 10px; /* Espaço entre os botões */
}

.buttons button:hover {
  background-color: #45a049;
}

#noButton {
  background-color: #f44336;
}

#noButton:hover {
  background-color: #d32f2f;
}

.answer {
  font-size: 1.5em;
  margin-top: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 600px) {
  .question h1 {
    font-size: 1.5em; /* Reduz o tamanho do título em telas menores */
  }
  .buttons button {
    padding: 10px 20px; /* Reduz o padding dos botões */
    font-size: 1em; /* Reduz o tamanho da fonte dos botões */
  }
}
