body {
  font-family: 'Arial', sans-serif;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  width: 80%;
  max-width: 600px;
  padding: 20px;
}

.question h1 {
  font-size: 2em;
  margin-bottom: 20px;
}

.buttons {
  display: flex; /* Permite o uso de flexbox para posicionamento */
  justify-content: center; /* Centraliza os elementos horizontalmente */
}

.buttons button {
  padding: 15px 30px;
  font-size: 1.2em;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4CAF50;
  color: white;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.buttons button:hover {
  background-color: #45a049;
}

.buttons div { /* Estilos para a div que simula o botão "Não" */
  padding: 15px 30px;
  font-size: 1.2em;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #f44336;
  color: white;
  transition: background-color 0.3s ease;
  box-sizing: border-box;
  margin-bottom: 10px;
  text-align: center;
  line-height: 1.5; /* Ajusta a altura da linha para centralizar o texto */
}

.buttons div:hover {
  background-color: #d32f2f;
}

.answer {
  font-size: 1.5em;
  margin-top: 20px;
}

/* Media Queries para responsividade */
@media (max-width: 600px) {
  .question h1 {
    font-size: 1.5em;
  }
  .buttons button, .buttons div {
    padding: 10px 20px;
    font-size: 1em;
    width: 100%;
  }
}
